// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~air-datepicker/air-datepicker';
@import '~bootstrap-select/sass/bootstrap-select';
@import '~dropzone/dist/dropzone.css';
@import '~simplemde/dist/simplemde.min.css';
// @import '~quill/dist/quill.core.css';
// @import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

html,
body {
    height: 100%;
}

.bg-gray {
    background-color: $gray-600;
}

.text-warning-dark {
    color: orange;
}

.text-underline {
    text-decoration: underline !important;
}
a.text-underline:hover {
    text-decoration: none !important;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: unset;
}

body.print-page {
	td {
		p {
			margin: 0;
		}
	}
}
.bootstrap-select {
    > .btn-light {
        background-color: #fff;
        border: 1px solid #ced4da;
    }
}


.w-30 {
    width: 30px;
}
.h-30 {
    height: 30px;
}
.text-xs {
    font-size: 0.75rem;
}
.text-sm {
    font-size: 0.875rem;
}
.text-lg {
    font-size: 1.25rem;
}
.text-xl {
    font-size: 1.5rem;
}

.top-0 {
    top: 0;
}
.t-15 {
    top: 15px;
}
.b-0 {
    bottom: 0;
}
.b-15 {
    bottom: 15px;
}
.l-0 {
    left: 0;
}
.l-15 {
    left: 15px;
}
.r-0 {
    right: 0;
}
.r-15 {
    right: 15px;
}
.text-decoration-line-through {
    text-decoration: line-through;
}
.text-decoration-underline {
    text-decoration: underline;
}
.text-decoration-none {
    text-decoration: none;
}

@media print {
	@page {
		size: 290mm 750mm
	}
	html {
		margin: 0;
		padding: 0;
	}
    body.print-page {
    	font-family: Calibri, Arial, sans-serif;
		color: #000;
		width: 290mm;
		font-size: 16px;
		line-height: 1.125;
		font-weight: 700;
		padding: 0;
		margin: 0;
        .container {
            padding: 0;
        }
        h1 {
            font-size: 70px;
			font-weight: 700;
        }
        .py-4 {
            padding: 0;
        }
        table {
        	width: 290mm;
			border: none!important;
			border-color: #fff;
        }
        td {
            padding: 0;
			border: none!important;
			border-color: #fff;
			display: block;
            &:first-child {

            }
            &:last-child {
            	padding-bottom: 1mm;
            }
        }
        p {
        	font-weight: bold;
        }
    }
}

// .only-timepicker .air-datepicker--navigation,
// .only-timepicker .air-datepicker--content {
//     display: none;
// }
// .only-timepicker .air-datepicker--time {
//     border-top: none;
// }

.uploaded-file-one {
    max-width: 150px;
    margin: 15px;
    position: relative;
}
.uploaded-file-one-remove-btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: $danger;
    color: #fff;
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        background-color: darken($danger, 15%);
    }
}

.td-shrink {
    width: 1%;
}

.ql-container {
    min-height: 100px;
}
